@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.hero {
  color: rgb(0, 0, 0);
  background: linear-gradient(to top, #734ba6dd, #5494e000),
    url(img/tris-d.svg) bottom left no-repeat,
    linear-gradient(to top, #9668d2dd, #f9b5ff);
  background-size: auto, auto, auto;
  background-size: 1024px;
}

.name {
  font-family: "Bitcount Grid Single";
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  flex-shrink: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

h2 {
  margin: 0;
}

header {
  padding: 1rem;
  background-color: #e2c5ff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;

  padding: 0.5rem 1rem;
  border-radius: 9999px;

  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.nav a {
  text-decoration: none;
}

.hero img {
  height: 400px;
}
