@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: rgb(0, 0, 0);
}

.hero {
  color: var(--primary-color);
  background: linear-gradient(to top, #734ba6dd, #5494e000),
    linear-gradient(to top, #9668d2dd, #f9b5ff);
  background-size: auto, auto, auto;
}

.name {
  font-family: "Bitcount Grid Single";
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  flex-shrink: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

h2 {
  margin: 0;
}

header {
  padding: 1rem;
  background-color: #e2c5ff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  color: var(--primary-color);
}

.contact-btn {
  padding: 12px 25px;
  border: 2px solid #483d8b;
  border-radius: 24px;
  background-color: transparent;
  color: #483d8b;
}

.nav a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 12px 25px;
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  color: #483d8b;
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-color: #483d8b;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.hero img {
  height: 400px;
}
