@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-color: rgb(0, 0, 0);
}

.hero {
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem 5%;
  background: linear-gradient(to top, #734ba6dd, #5494e000),
    linear-gradient(to top, #9668d2dd, #f9b5ff);
  background-size: auto, auto, auto;
  box-sizing: border-box;
}

.hero-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero-content {
  padding: 2.5rem;
  justify-content: space-evenly;
  width: 100%;
  max-width: 308px;
  min-width: 308px;
}

.hero-image {
  padding: 1rem;
}

.hero img {
  width: 100%;
}

.name {
  font-family: "Bitcount Grid Single";
  font-size: 32px;
  font-weight: 400;
  text-decoration: none;
  flex-shrink: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  color: var(--primary-color);
}

h2 {
  margin: 0;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: large;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  color: var(--primary-color);
}

.contact-btn {
  padding: 12px 32px;
  border: 2px solid #483d8b;
  border-radius: 32px;
  background-color: transparent;
  color: #483d8b;
}

.nav a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 12px 25px;
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  color: #483d8b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-color: #483d8b;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.socials a {
  display: inline-block;
  padding: 1rem;
  font-size: 2px;
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  color: #000;
  background-color: #f9b5ff8c;
  transition: all 0.2s ease-in-out;
}

.socials a:hover {
  background-color: #f8b4ff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.container {
  background-color: #242734;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f1e9df;
}

.container img {
  width: 300px;
}
